{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1></h1>
        {% for flash_message in app.session.flashBag.get('notice') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header text-muted"><h3><i class="fa fa-user"></i> Datos personales y académicos</h3></div>
                    </div>
                    <div class="col-md-10">
                        <h4>{{ solicitud.paterno }} {{ solicitud.materno }} {{ solicitud.nombre }} <small>{{ solicitud.mail }}</small></h4>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-warning pull-right" data-toggle="modal" data-target="#evalModal">
                            <i class="fa fa-pencil"></i> Evaluar </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-stripped">
                            <tr>
                                <td><strong>Licenciatura:</strong></td><td>{{ solicitud.carrera }}</td>
                            </tr>
                            <tr>
                                <td><strong>Universidad:</strong></td><td>{{ solicitud.universidad}}</td>
                            </tr>
                            <tr>
                                <td><strong>Porcentaje de avance:</strong></td><td>{{ solicitud.avance }}</td>
                            </tr>
                            <tr>
                                <td><strong>Promedio:</strong></td><td>{{ solicitud.promedio }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-striped">
                            <tr>
                                <td><strong>Sexo:</strong></td><td>{{ solicitud.sexo | upper }}</td>
                            </tr>
                            <tr>
                                <td><strong>Estado </strong></td><td>{{ solicitud.procedencia }}</td>
                            </tr>
                            <tr>
                                <td><strong>Aceptado:</strong></td><td> {{ solicitud.aceptado ? '<i class="fa fa-check-square-o icon-success"></i>' : '<i class="fa fa-times-circle icon-danger"></i>' }}</td>
                            </tr>
                            <tr>
                                <td><strong>Confirmado:</strong></td><td> {{ solicitud.confirmado ? '<i class="fa fa-check-square-o icon-success"></i>' : '<i class="fa fa-times-circle icon-danger"></i>' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% if solicitud.comentarios %}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="well">
                                <p class="text-muted">{{ solicitud.comentarios|raw }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header text-muted"><h3><i class="fa fa-graduation-cap"></i> Beca</h3></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Razones para asistir:</h4>
                        <div class="well">
                            {{ solicitud.razones|raw }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p><h4>Solicita beca: <strong>{{ solicitud.beca }}</strong></h4></p>
                    </div>
                    <div class="col-md-3">
                        {% if solicitud.vegetariano %}
                            <p><h4 class="text-success"><i class="fa fa-check-circle icon-success"></i> Vegetariano</h4></p>
                        {% else %}
                            <p><h4 class="text-info">No vegetariano</h4></p>
                        {% endif %}
                    </div>
                </div>

                <div class="page-header text-muted">
                    <h3><i class="fa fa-graduation-cap"></i> Recomendaciones
                        {%  if solicitud.recomendaciones|length == 1 %}
                            <i class="fa fa-exclamation-triangle icon-warning"></i>
                        {% elseif solicitud.recomendaciones|length == 1 %}
                            <i class="fa fa-check-square-o icon-success"></i>
                        {% elseif solicitud.recomendaciones|length == 0 %}
                            <i class="fa fa-times-circle icon-danger"></i>
                        {% endif %}
                    </h3>
                </div>

                {% for recomendacion in solicitud.recomendaciones %}
                    <div class="row">
                        {% if recomendacion.mail == solicitud.mailprofesor1 %}
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">{{ solicitud.profesor1 }} <em>{{ solicitud.mailprofesor1 }}</em> | {{ solicitud.univprofesor1 }}</div>
                                    <div class="panel-body">
                                        {% if recomendacion.recomendacion %}
                                            <div class="well">
                                                {{ recomendacion.recomendacion|raw }}
                                            </div>
                                        {% endif %}
                                        {%  if recomendacion.recomendacionName %}
                                            <h4><a href="{{ vich_uploader_asset(recomendacion, 'recomendacionFile') }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Documento de recomendación</a></h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% elseif recomendacion.mail == solicitud.mailprofesor2 %}
                            <div class="col-md-12">
                                <div class="panel panel-info">
                                    <div class="panel-heading">{{ solicitud.profesor2 }} <em>{{ solicitud.mailprofesor2 }}</em> | {{ solicitud.univprofesor2 }}</div>
                                    <div class="panel-body">
                                        {% if recomendacion.recomendacion %}
                                            <div class="well">
                                                {{ recomendacion.recomendacion|raw }}
                                            </div>
                                        {% endif %}
                                        {%  if recomendacion.recomendacionName %}
                                            <h4><a href="{{ vich_uploader_asset(recomendacion, 'recomendacionFile') }}"><i class="fa fa-file-text-o" aria-hidden="true"></i> Documento de recomendación</a></h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <p class="text-muted text-right"><small>Última actualización: {{ solicitud.updatedAt|localizeddate('medium', 'none', null, null, "cccc, d MMMM Y 'a las' hh:mm aaa") }}</small></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-offset-4">
                <a href="{{ path('solicitud_index') }}" class="btn btn-primary">
                    Solicitudes
                </a>
            </div>
        </div>
        <div class="page-header"><h1>&nbsp;</h1></div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="evalModal" tabindex="-1" role="dialog" aria-labelledby="evalModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="evalModalLabel">Evaluar solicitud</h4>
                </div>
                <div class="modal-body">
                    {% render(controller('SimBundle:Solicitud:edit', {'slug' : solicitud.slug })) %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
