{% extends 'base.html.twig' %}

{% block body %}

    {{ solicitud.slug }} {{ solicitud.paterno }} {{ solicitud.nombre }} {{ recomendacion.mail }}


    <h2>Recomendacion creation</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

{% endblock %}
