{% extends 'base.html.twig' %}

{% block nav %}
{% endblock %}

{% block body %}
    <div class="container">
    <h3>Taller Propedéutico de ingreso al
    Posgrado Conjunto en Ciencias Matemáticas <small>UNAM - UMSNH 2018</small><br></h3><br>

        {{ form_start(form) }}
        <div class="alert-danger">{{ form_errors(form) }}</div>
        <div class="panel panel-info">
            <div class="panel-body">
                <div class="alert alert-info">
                    La recomendación se puede subir como un archivo PDF o se puede escribir directamente en el siguiente formulario.
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="text-muted">Recomendación para <strong>{{ solicitud.paterno }} {{ solicitud.materno }} {{ solicitud.nombre }}</strong></p>
                            {{ form_widget(form.recomendacion, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
                            <span class="text-danger">{{ form_errors(form.recomendacion) }}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <p class="text-muted">Subir archivo con recomendación</p>
                            {{ form_widget(form.recomendacionFile) }}
                            <span class="text-danger">{{ form_errors(form.recomendacionFile) }}</span>
                        </div>
                    </div>
                </div>

                {{ form_widget(form) }}
                <input class="btn btn-primary" type="submit" value="Enviar recomendación" />

            </div>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}
