{% extends 'base.html.twig' %}

{% block body %}

    {{ solicitud.slug }} {{ solicitud.paterno }} {{ solicitud.nombre }} {{ recomendacion.mail }}


    <h1>Recomendacion creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('recomendacion_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
